<?xml version="1.0" encoding="UTF-8"?>
<configs>

	<config title="Entity generation" type="entity">
	  <projectName>bee-domain</projectName>
	  <javaResourceFolder>src/main/java</javaResourceFolder>
	  <basePackage>org.smartbit4all.businessevent.domain</basePackage>
	  <entityPackage>entity</entityPackage>
	  <configPackage>config</configPackage>
	  <entityConfigClassName>BusinessEventEntityConfig</entityConfigClassName>
	</config>
	    
    <config title="Script generation" type="script">
      <projectName>bee-domain</projectName>
      <outputFolder>/Scripts</outputFolder>
      <sqlLengthLimit>100</sqlLengthLimit>
    </config>

</configs>
