<?xml version="1.0" encoding="UTF-8"?>
<config>
  <projectName>bee-domain</projectName>
  <javaResourceFolder>src/main/java</javaResourceFolder>
  <basePackage>org.smartbit4all.businessevent.domain</basePackage>
  <entityPackage>entity</entityPackage>
  <configPackage>config</configPackage>
  <entityConfigClassName>BusinessEventEntityConfig</entityConfigClassName>
  <scriptPath>/Scripts</scriptPath>
</config>